<div class="row tournament-display">
	<div class="small-10 small-centered medium-10 medium-centered large-10 large-centered columns">
		<p class="notice"><%= notice %></p>
		<h1><%#= tournament.name %></h1>
		<table>
		<thead>
			<tr>

				<th>Rank</th>
				<th>Score</th>
				<th>Player</th>
				<th>Hcap</th>
				<th>Rnd 1 - Gross</th>
				<th>Rnd 1 - Net  </th>
				<th>Rnd 2 - Gross</th>
				<th>Rnd 2 - Net  </th>
				<th>Rnd 3 - Gross</th>
				<th>Rnd 3 - Net  </th>
				<th>Total - Gross</th>
				<th>Total - Net  </th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td><%= 1 %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>

			</tr>
			<%# end %>
		</tbody>
	</table>
	</div>
</div>