<%= form_for(@player) do |f| %>
<%#= f.hidden_field :tournament_id, :value => @tournament.id %>
<div class="row">
	<div class="small-10 small-centered medium-6 large-6 columns">
		<h1>Round 1</h1>
		<div class="score-field">
			<%= f.label 'Round Number' %> 
			<%= f.text_field  %>
		</div>
		<div class="score-field">
			<%= f.label 'Score' %> 
			<%= f.text_field  :placeholder => "Score"%>
		</div>
		<div class="actions">
	        <%= f.submit "Save", :class => "small button" %>
	     </div>
		<% end %>
	</div>
</div>