<div class="row">
  <div class="small-12 small-centered medium-6 medium-centered large-6 large-centered columns">
    <h1>Listing players</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Handicap</th>
          <th>City</th>
          <th></th>
          <th></th>
          
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.handicap %></td>
            <td><%= player.city %></td>
            <td></td>           
            <td><%= link_to 'Show', player %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Player', new_player_path, class: "button radius" %>
    </div>
</div>

