<div class="row">
	<div class="player">
	<div class="small-12 small-centered medium-12 large-12 columns player-profile">
		<h1> <%= @player.name %> </h1>
	</div>
	<div class="small-12 small-centered medium-12 large-12 columns player-profile-handicap">
		 <h2>Handicap: <%= @player.handicap %></h2>		
	</div>		
	<div class="small-12 small-centered medium-12 large-12 columns player-profile-handicap">
		 <h2>Residence: <%= @player.city %>, <%= @player.state %> </h2>	
	</div>		

	<div class="small-12 small-centered medium-12 large-12 columns player-profile-tournaments">
		 <h2><%= link_to 'Your Tournaments', tournament_path %></h2>
	</div>
	

	<div class="row">
		<div class="small-1  medium-12 large-12 columns edit-button">
		<%= link_to 'Edit', edit_player_path, :class => 'small button' %> 
		<%#= link_to 'Destroy', player.id, method: :delete, data: { confirm: 'Are you sure?' } %>
		<%#= link_to 'Back', players_path %>
	</div>
	</div>
</div>
